body{
    background-color: #f7f7f7;
    font-family: Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.principal{
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit,1fr);
}
.title{
    grid-column: 1/-1;
    justify-self: center;
    align-self: center;
    padding: 40px 20px;
}
.topícos{
    padding: 10px 20px;
    background-color: white;
    grid-row: 2;
    margin: 20px;
    text-decoration: none;
    border-radius: 5px;
    color: black;
}
.botao{
    display: flex;
    grid-column: 1/-1;
    justify-content: center;
    align-content: center;
}
.conteudo{
    display: grid;
    margin: 30px 150px;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;
    padding: 10px 20px;
}
.primeiroconteudo{
    display: grid;
    grid-template-rows: auto auto;
    background-color: white;
    grid-column: 1;
    text-align: end;
    border-radius: 5px;
    font-size: 20px;
}
.image{
    grid-column: 2;
    max-width: 100%;
    border-radius: 5px;
}
#ver{
    background-color: red;
    text-decoration: none;
    color: white;
    align-self: start;
    padding: 15px 30px;
    justify-self: end;
    margin-right: 30px;
    position: relative;
    top: -10px;
    border-radius: 5px;
}
.texto{
    grid-row: 1;
    padding: 10px 30px 0px 30px;
    text-align: end;
}

#traço{
    font-size: 60px;
    text-decoration: line-through;
    color: red;
    position: relative;
    right: -90px;
}
#textoex{
    color: rgb(0, 0, 0, 0);
}
.segundoconteudo{
    align-self: center;
}
#vantagens{
    font-size: 64px;
    color: #c6c6c6;
    text-align: end;
    margin: 50px;
}
.novo{
    display: grid;
    grid-template-columns: 100px 1fr;
    background-color: white;
    margin: 0px;
    padding: 50px 40px;
}
.icone-texto{
    margin: 15px;
}
.rodape {
    grid-column: 1/-1;
    width: 100%;
    background-color: white;
    text-align: center;
    margin: 0;
    padding: 0px;
}